// VARIABLES:
$fontColor: darkred;

.container {
  min-height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px 80px 30px 80px;
}
.container h1 {
  color: $fontColor;
}
.container h3 {
  color: rgb(88, 88, 88);
  font-weight: 100;
  margin-top: 5px;
}
.container h4 {
  margin: 0;
  margin-bottom: 6px;
}

.btnHome {
  width: 100%;
  max-width: 300px;
  margin: 5px 0;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: rgb(143, 150, 182);
  border-width: 0px;
  box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}
.btnHome:hover {
  cursor: pointer;
  background-color: rgb(116, 130, 190);
}
.btnHomeGreen {
  color: #ffffff;
  background-color: rgb(39, 138, 59);
}
.btnHomeGreen:hover {
  cursor: pointer;
  background-color: rgb(16, 107, 34);
}
.uppercase {
  // text-transform: capitalize;
  text-transform: uppercase;
}
.link {
  font-size: 20px;
  color: rgb(1, 1, 138);
  font-weight: bold;
}
.link:hover {
  color: rgb(0, 0, 58);
}
.linkRed {
  font-size: 22px;
  color: rgb(167, 1, 1);
  font-weight: bold;
}
.linkRed:hover {
  color: rgb(100, 1, 1);
}
.fontLarger {
  font-size: 26px;
}
.fontRed {
  color: $fontColor;
}
.counterCircle {
  background-color: darkred;
  color: white;
  margin: auto;
  width: 100px;
  height: 100px;
  padding: 22px;
  border-radius: 50%;
  font-size: 25px;
}
.horizontalLine {
  margin-top: 20px;
  margin-bottom: 20px;
}
.marginBottom5 {
  margin-bottom: 5px;
}
.progressCircle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ***** MOBILE ***** */
@media (max-width: 700px) {
  .container {
    padding: 20px;
  }
  .container h1 {
    font-size: 1.4rem;
  }
  .container h2 {
    font-size: 1rem;
  }
  .container h3 {
    font-size: 1rem;
  }
  .container h4 {
    font-size: 1rem;
  }
  .link {
    font-size: 1rem;
  }
  .link:hover {
    color: rgb(0, 0, 58);
  }
  .linkRed {
    font-size: 1.2rem;
  }
  .fontLarger {
    font-size: 1.3rem;
  }
}
